{% extends 'app/base.html' %} {% load static %} {% block title %}Product
Detail{% endblock title %} {% block main-content %}
<style>
  .main-container {
    text-align: center;
    margin-top: 90px;
  }
</style>
<br><br>
<div class="container  main-container">
  <div class="row">
    <div class="col-sm-6 text-center align-self-center">
      <img
        src="{{product.product_image.url}}"
        alt=""
        class="img-fluid img-thumbnail"
      />
      <h5>{{product.title}}</h5>
    </div>
    <div class="col-sm-5 offset-sm-1">
      
      <hr />
      <p>{{product.description}}</p>
      <br />
      <h4>
        Rs.{{product.discountd_price}}
        <small class="fw-light text-decoration-line-through"
          >Rs {{product.selling_price}}</small
        >
      </h4>
      <br />
      {% if request.user.is_authenticated %} {% if item_already_in_cart %}
      <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 ms-4"
        >Go to cart</a
      >
      {% else %}
      <form action="/add-to-cart" class="d-inline">
        <input
          type="hidden"
          name="prod-id"
          value="{{product.id}}"
          id="prod-id"
        />
        <button type="submit" class="btn btn-primary shadow px-5 py-2">
          Add to Cart
        </button>
      </form>
      {% endif %} {% endif %} {% if not request.user.is_authenticated %}
      <form action="/add-to-cart" class="d-inline">
        <input
          type="hidden"
          name="prod-id"
          value="{{product.id}}"
          id="prod-id"
        />
        <button type="submit" class="btn btn-primary shadow px-5 py-2">
          Add to Cart
        </button>
      </form>
      {% endif %}

      <a
        href="{% url 'checkout' %}"
        class="btn btn-danger shadow px-5 py-2 ms-4"
        >Buy Now</a
      >
      <h5 class="mt-5">Available Offers</h5>
      <ul>
        <li>Any Vegitables and Fruits 10 kg Delivery charge Free</li>
        <li>Service withIn One Hour</li>
        <li>Case on Delivery and Online Payment Available</li>
        <li>Instant Pay Discount Available</li>
        <li>Regular Customer No Delivery Charge</li>
      </ul>
    </div>
  </div>
</div>
{% endblock main-content %}
