{% extends 'farmer/sellerNav.html' %}

{% load static %}
{% block content%}
<head><style>
    .main-container {
        text-align: center;
        margin-top: 90px;
    }
</style></head>
<body>
    

<div class="main-container">
    <h5>Orders Summary</h5>
    {% if data %}
<table>
    {% for i in data %}
    <div>
<tr>
    <td>Order Id : {{i.id}}</td>
    
</tr>
<tr>
     <td> Customer : {{i.customer}}</td>
</tr>
<tr>
    <td> product : {{i.product}}</td>
</tr>
<tr>
    <td> quantiry : {{i.quantiry}}</td>
</tr>
<tr>
    <td> order_date : {{i.order_date}}</td>
</tr>
<tr>
    <td> Status : {{i.status}}</td>
</tr>

</div>

{% endfor %}
</table>
{% else %}
<p>No orders Yet</p>
{% endif %}
{% endblock %}
</body>